<h1>Welcome to Eagle Town Car</h1>


<br><br>
<p> Please log in below </p>
<%= link_to "Login", login_path %>
<br><br>
or 

<br><br>
<p> Please sign up </p>
<%= link_to "Sign Up", signup_path %>

OR 

<%= link_to "Sign in Through Github", '/auth/github' %>